body {
    margin: 0px;
}
main {
    margin: 10px;
}

/*------------------------------------------------Navigation Bar------------------------------------------------------*/
.hamburger_button{
    color: #000000;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    font-size: 8vh;

}

.hamburger_button:hover{
    background-image: linear-gradient(1deg, #c5d968, #85c560);
}

.navbar input{
    position: absolute;
    transform: scale(7.0);
    top: 4vh;
    left: 4vh;
    opacity: 0;
    cursor: pointer;
}

body:has(.navbar input:hover) .hamburger_button{
    background-image: linear-gradient(1deg, #c5d968, #85c560);
}

.navbar img {
    position: absolute;
    height: 10vh;
    right: 3vw;
    cursor: pointer;
    user-select: none;
}

.navbar {
    background-image: linear-gradient(1deg, #c5d968, #85c560);
    position: sticky;
    top: 0px;
    padding: 0px;
    margin: 0px;
    height: 10vh;
}

body:has(.navbar input:checked) .nav_menu{
    right: 80vw;
}

/*---------------------------------------------Navigation Bar menu-----------------------------------------------------*/
.nav_menu {
    position: fixed;
    background-image: linear-gradient(1deg, #1b2545, #20619b);
    width: 22vw;
    height: 90vh;
    top: 10vh;
    right: 100vw;
    transition-duration: 500ms;
}

.nav_menu ul{
    text-align: center;
}

.nav_menu li{
    list-style-type: none;
    padding-bottom: 10px;
}

.nav_menu a{
    text-decoration: none;
    display: block;
    font-size: 80px;
    color: #c9c9c9;
}

.nav_menu a:hover{
    background-image: linear-gradient(1deg, #1b2545, #20619b);
}

/*-----------------------------------------------Header content--------------------------------------------------------*/
/*header container*/
.header-div {
    display: flex;
    background: #c9c9c9;
    height: 200px;
    font-size: 48px;
    border-style: solid;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

/*Logo in the header section*/
.logo {
    background: #c9c9c9;
    border-radius: 50%;
    height: 100px;
}
.demo-screenshot {
    max-width: 100%;
    height: auto;
}

/*-----------------------------------------------Description and google form content----------------------------------*/
/*Main container holding the description and feedback containers*/
.about-us-feedback-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*container for the about us section*/
.about-us-div {
    background: #c9c9c9;
    margin: 5%;
    border-style: solid;
    border-radius: 10px;
    width: 50%;
    text-align: center;
    font-size: 20px;
}

/*header for the about us section*/
.about-us-header {
    font-size: 38px;
    margin-bottom: 0px;
}

/*about us div for the images*/
.about-us-images {
    display: flex;
    justify-content: center;

}

/*Each individual image in the about us section*/
.about-us-img {
    width: 15%;
    border-radius: 50%;
}

/*container for the website access section*/
.access-div {
    background: #c9c9c9;
    margin: 5%;
    border-style: solid;
    border-radius: 10px;
    width: 50%;
    text-align: center;
    font-size: 20px;
}

/*header for the website access section*/
.access-header {
    font-size: 38px;
    margin-bottom: 0px;
}

/*container for the feedback section*/
.feedback-div {
    background: #c9c9c9;
    margin: 5%;
    border-style: solid;
    border-radius: 10px;
    width: 80%;
    text-align: center;
    font-size: 20px;
}

/*header for the feedback section*/
.feedback-header {
    font-size: 38px;
}

/*-----------------------------------------------screenshot demos and descriptions------------------------------------*/
.demo-list {
    list-style-type: none;
}

.demo {
    display: flex;
    font-size: 20px;

    background: #c9c9c9;
    margin: 5%;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    text-align: center;
}

.demo-screenshot {
    width: 50%;
    border-radius: 5px;
}

.double-demo-screenshot {
    width: 25%;
}

.demo-description {
    background: #c9c9c9;
    margin: 2%;
}



